<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Paratii Translations UI</title>
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="icon" href="http://paratii.video/public/images/paratii-icon-192x192.png">
  <link rel="image_src" href="http://paratii.video/public/images/paratii-src.png">
  <link href="app.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="root">
  </div>
  <script src="/bundle.js">
  </script>
</body>

</html>
